.grid {
    display: grid;
}

.gap-16 {
    gap: 16px;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.content-tag {
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;

}


.text-2xl {
    font: var(--h1);
    color: var(--text-color-primary);
}

.text-xl {
    font: var(--h2);
}

.text-lg {
    font: var(--h3);
    text-align: left;
    color: var(--text-color-primary);
}

.text-sm {
    font: var(--text-sm);
    color: var(--text-color-primary);
}